.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #DDDDDD;
    line-height: 1.21429;
    padding: 3px;
    vertical-align: top;
}
body {
	-moz-user-select: none;
}

.table-cols>li {
	display: inline-block;
	float: left
}

.table-cols {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

th span.glyphicon-move {
	float: left;
	cursor: move;
	margin-right: 5px;
}

th span.glyphicon-chevron-up,th span.glyphicon-chevron-down {
	float: right;
	cursor: move;
	margin-right: 5px;
}

th span.title {
	cursor: default;
	margin-right: 5px;
}

td {
    background-color: #F9F9F9;
    height: 30px;
}

th {
	background-color: #F2F2F2;
	height: 30px;
}

.navbar_tag {
	height: 30px
}
.table, .table th {
	font-size: 14px;
	text-align: center!important;
}
